<div class="cam_wrapper">
  <div class="player">
    <div class="player__top">
      <div class="player-cover">
        <span>
          <div class="player-cover__item" style="background-image: url(&quot;https://raw.githubusercontent.com/muhammederdem/mini-player/master/img/3.jpg&quot;);"></div>
        </span>
      </div>
    </div>
    <div class="player-controls">
      <div class="player-controls__item -favorite">
        <img src="/svg/icon-heart-o.svg" class="icon">
      </div>
      <a href="https://www.youtube.com/watch?v=ICjyAe9S54c" target="_blank" class="player-controls__item">
        <img src="/svg/icon-link.svg" class="icon">
      </a>
      <div class="player-controls__item">
        <img src="/svg/icon-prev.svg" class="icon">
      </div>
      <div class="player-controls__item">
        <img src="/svg/icon-next.svg" class="icon">
      </div>
      <div class="player-controls__item -xl js-play">
        <img src="/svg/icon-play.svg" class="icon">
      </div>
    </div>
  </div>
  <div class="cam_progress">
    <div class="cam_progress__top">
      <div class="album-info">
        <div class="album-info__name">Moby</div>
        <div class="album-info__track">Extreme Ways</div>
      </div>
      <div class="cam_progress__duration">03:36</div>
    </div>
    <div class="cam_progress__bar">
      <div class="cam_progress__current" style="width: 0%;"></div>
    </div>
    <div class="cam_progress__time">00:00</div>
  </div>
</div>
