.bg-light {
  background-color: #f8f9fa;
}

#videoElement {
  transform: rotateY(180deg);
  width: 500px;
  height: 375px;
  background-color: #666;
  border-radius: 4px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}
